* {
    outline: 1px red solid;
}

/* body,html {
    margin: 0;
    width: 100%;
    height: 100%;
} */

main {
    width: 100%; /* add max width */
}

#product {
    width: 100%;
    max-width: 1920px;
    height: 48em;
    padding: 4em;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    #gallery {
        flex: 0 0 12em; 
        min-width: 4em;
        height: 100%;
        display: flex; /* grid */
        flex-flow: column nowrap;
        overflow: auto;
        gap: 2em;

        .img {
            width: 100%;
            aspect-ratio: 1 / 1;
            cursor: pointer;
        }
    }

    #big {
        flex: 1 0 50%;
        min-width: 48em;
        min-height: 100%;

        .bigImg {
            aspect-ratio: 1 / 1;
            margin: auto;
            height: 40em;
        }
    }

    #action {
        flex: 1 0 30%;
        min-height: 100%;
    }
}